* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  max-width: 100%;
  min-width: 320px; }

section {
  display: block; }

.wrrap {
  width: 100%; }

#top {
  position: absolute;
  bottom: 7%;
  right: 10%;
  font-size: 45px;
  cursor: pointer;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: #6585ff; }

header {
  border: 1px solid green;
  display: block; }

.top-slider {
  background: url("images/slider1.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 400px;
  height: 100%; }

.header-content {
  border: 0 solid red;
  overflow: hidden;
  height: 100%; }

.top-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px; }
  .top-header .call-form {
    border: 0 solid red;
    margin-top: -8px;
    margin-bottom: 3px; }
    .top-header .call-form img {
      float: left;
      width: 35px;
      height: 30px;
      margin-right: 10px; }
    .top-header .call-form a {
      color: #fff;
      font-size: 12px;
      text-decoration: underline;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      display: block;
      margin: 5px 0 0 15px; }
  .top-header .top-tel {
    margin-left: 40px; }
  .top-header .top-kurs {
    color: #fa7b0a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center; }
  .top-header .top-logo a {
    display: block;
    text-align: center; }
    .top-header .top-logo a img {
      margin: 0 auto; }
  .top-header .top-enter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0 0;
    float: right; }
    .top-header .top-enter a {
      display: block;
      float: right; }

.header-logo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px; }
  .header-logo img {
    margin: 0 auto; }
  .header-logo h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif; }

.choosevocation {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 90%; }
  .choosevocation .form-group {
    float: left;
    overflow: hidden;
    width: auto;
    margin-right: 10px;
    margin-bottom: 0; }
    .choosevocation .form-group label {
      display: block;
      margin: 0;
      padding: 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      position: relative; }
      .choosevocation .form-group label.small {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 6px; }
  .choosevocation input[type="text"] {
    margin: 0 auto; }
  .choosevocation input[type="image"] {
    margin: 20px 0 0 20px; }

.menu-wrap {
  width: 100%;
  margin: 0 0 8px 0; }

nav {
  float: right; }
  nav .sf-arrows .sf-with-ul::after {
    border-top-color: #fa7b0a; }
  nav .sf-menu {
    margin: 0;
    padding: 0;
    position: relative; }
    nav .sf-menu .sf-mega {
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      left: auto; }
      nav .sf-menu .sf-mega:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid #fa7b0a;
        left: 10%;
        margin-left: -12px;
        top: 0;
        width: 0;
        z-index: 1000; }
      nav .sf-menu .sf-mega ul {
        display: block;
        float: none;
        position: relative; }
        nav .sf-menu .sf-mega ul li {
          background: none;
          display: block; }
          nav .sf-menu .sf-mega ul li a {
            color: #fff; }
            nav .sf-menu .sf-mega ul li a:hover {
              color: #fa7b0a; }
    nav .sf-menu li {
      position: static;
      white-space: normal;
      background: none;
      font-weight: bold; }
      nav .sf-menu li:hover {
        background: #fa7b0a; }
      nav .sf-menu li > a {
        text-decoration: none;
        color: #292929;
        font-size: 14px;
        border: none;
        display: block;
        position: relative; }
        nav .sf-menu li > a:hover {
          text-decoration: none;
          color: #fff;
          font-weight: bold; }
    nav .sf-menu > li > ul {
      width: 200px;
      left: auto; }
      nav .sf-menu > li > ul li {
        background-color: rgba(0, 0, 0, 0.5); }
        nav .sf-menu > li > ul li:hover {
          background-color: rgba(0, 0, 0, 0.5); }
        nav .sf-menu > li > ul li a {
          color: #fff;
          position: relative; }
          nav .sf-menu > li > ul li a:hover {
            color: #fa7b0a; }
  nav .toggle-mnu {
    display: block;
    width: 28px;
    height: 28px;
    margin-top: 14px;
    float: left; }
    nav .toggle-mnu span:after, nav .toggle-mnu span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px; }
    nav .toggle-mnu span:after {
      top: 18px; }
    nav .toggle-mnu span {
      position: relative;
      display: block; }
    nav .toggle-mnu span, nav .toggle-mnu span:after, nav .toggle-mnu span:before {
      width: 100%;
      height: 2px;
      background-color: #fa7b0a;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px; }
    nav .toggle-mnu.on span {
      background-color: transparent; }
    nav .toggle-mnu.on span:before {
      transform: rotate(45deg) translate(-1px, 0px); }
    nav .toggle-mnu.on span:after {
      transform: rotate(-45deg) translate(6px, -7px); }

.proposeSlider {
  overflow: hidden;
  position: relative; }
  .proposeSlider .proposeSliderTabs {
    border-top: 5px #6585ff solid; }
    .proposeSlider .proposeSliderTabs .tabs {
      margin: 0 auto;
      width: 50%; }
      .proposeSlider .proposeSliderTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 33%;
        position: relative;
        padding: 20px 0; }
        .proposeSlider .proposeSliderTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .proposeSlider .proposeSliderTabs .tabs .tab.active a, .proposeSlider .proposeSliderTabs .tabs .tab:hover a {
          color: #6585ff;
          font-weight: bold;
          text-transform: uppercase; }
        .proposeSlider .proposeSliderTabs .tabs .tab.active:after, .proposeSlider .proposeSliderTabs .tabs .tab:hover:after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          border-top: 8px solid #6585ff;
          left: 50%;
          margin-left: -12px;
          top: 0;
          width: 0; }
    .proposeSlider .proposeSliderTabs .tab_item {
      overflow: hidden;
      display: none; }
      .proposeSlider .proposeSliderTabs .tab_item:first-child {
        display: block; }
    .proposeSlider .proposeSliderTabs .owl-nav div {
      width: 25px;
      height: 35px;
      background-image: url("images/proposeArrows.png");
      top: 35%;
      position: absolute; }
      .proposeSlider .proposeSliderTabs .owl-nav div.owl-next {
        right: 0;
        background-position: top right; }
    .proposeSlider .proposeSliderTabs .owl-dots {
      text-align: center;
      margin-top: 15px; }
      .proposeSlider .proposeSliderTabs .owl-dots .owl-dot {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 5px;
        display: inline-block; }
        .proposeSlider .proposeSliderTabs .owl-dots .owl-dot.active {
          background: #fa7b0a; }
  .proposeSlider .mainNewsTabs {
    border-top: 5px #fa7b0a solid;
    z-index: 1;
    position: relative; }
    .proposeSlider .mainNewsTabs .tabs {
      margin: 0 auto;
      width: 40%; }
      .proposeSlider .mainNewsTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        position: relative;
        padding: 20px 0; }
        .proposeSlider .mainNewsTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .proposeSlider .mainNewsTabs .tabs .tab.active a, .proposeSlider .mainNewsTabs .tabs .tab:hover a {
          color: #fa7b0a;
          font-weight: bold;
          text-transform: uppercase; }
          .proposeSlider .mainNewsTabs .tabs .tab.active a:after, .proposeSlider .mainNewsTabs .tabs .tab:hover a:after {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-top: 8px solid #fa7b0a;
            left: 50%;
            margin-left: -12px;
            top: 0;
            width: 0; }
    .proposeSlider .mainNewsTabs .tab-item {
      overflow: hidden;
      display: none;
      color: #fff; }
      .proposeSlider .mainNewsTabs .tab-item:first-child {
        display: block; }

.ourTours {
  background-color: #e9e5e2;
  border: 1px solid red;
  margin-top: 20px; }
  .ourTours h4 {
    text-align: center;
    text-transform: uppercase; }
  .ourTours .cat-container {
    border: 1px solid red; }
  .ourTours .cat-pict {
    display: inline-block; }
    .ourTours .cat-pict:first-child, .ourTours .cat-pict:last-child {
      padding: 0; }

.mainNews {
  width: 100%;
  background: url("images/mainsrticle-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 400px;
  height: 100%; }
  .mainNews .proposeSliderTabs {
    border-top: 5px #6585ff solid; }
    .mainNews .proposeSliderTabs .tabs {
      margin: 0 auto;
      width: 50%; }
      .mainNews .proposeSliderTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 33%;
        position: relative;
        padding: 20px 0; }
        .mainNews .proposeSliderTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .mainNews .proposeSliderTabs .tabs .tab.active a, .mainNews .proposeSliderTabs .tabs .tab:hover a {
          color: #6585ff;
          font-weight: bold;
          text-transform: uppercase; }
        .mainNews .proposeSliderTabs .tabs .tab.active:after, .mainNews .proposeSliderTabs .tabs .tab:hover:after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          border-top: 8px solid #6585ff;
          left: 50%;
          margin-left: -12px;
          top: 0;
          width: 0; }
    .mainNews .proposeSliderTabs .tab_item {
      overflow: hidden;
      display: none; }
      .mainNews .proposeSliderTabs .tab_item:first-child {
        display: block; }
    .mainNews .proposeSliderTabs .owl-nav div {
      width: 25px;
      height: 35px;
      background-image: url("images/proposeArrows.png");
      top: 35%;
      position: absolute; }
      .mainNews .proposeSliderTabs .owl-nav div.owl-next {
        right: 0;
        background-position: top right; }
    .mainNews .proposeSliderTabs .owl-dots {
      text-align: center;
      margin-top: 15px; }
      .mainNews .proposeSliderTabs .owl-dots .owl-dot {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 5px;
        display: inline-block; }
        .mainNews .proposeSliderTabs .owl-dots .owl-dot.active {
          background: #fa7b0a; }
  .mainNews .mainNewsTabs {
    border-top: 5px #fa7b0a solid;
    z-index: 1;
    position: relative; }
    .mainNews .mainNewsTabs .tabs {
      margin: 0 auto;
      width: 40%; }
      .mainNews .mainNewsTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        position: relative;
        padding: 20px 0; }
        .mainNews .mainNewsTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .mainNews .mainNewsTabs .tabs .tab.active a, .mainNews .mainNewsTabs .tabs .tab:hover a {
          color: #fa7b0a;
          font-weight: bold;
          text-transform: uppercase; }
          .mainNews .mainNewsTabs .tabs .tab.active a:after, .mainNews .mainNewsTabs .tabs .tab:hover a:after {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-top: 8px solid #fa7b0a;
            left: 50%;
            margin-left: -12px;
            top: 0;
            width: 0; }
    .mainNews .mainNewsTabs .tab-item {
      overflow: hidden;
      display: none;
      color: #fff; }
      .mainNews .mainNewsTabs .tab-item:first-child {
        display: block; }

.testimonials {
  border: 1px solid red;
  padding: 20px 0; }
  .testimonials h3 {
    text-align: center;
    color: #6585ff;
    text-transform: uppercase; }
  .testimonials .testimonials-block .item {
    border-top: 3px solid #6585ff;
    padding-top: 10px; }
    .testimonials .testimonials-block .item h3 {
      width: 100%;
      text-align: center;
      color: #000;
      margin-top: 5px;
      margin-bottom: 15px; }
    .testimonials .testimonials-block .item img {
      width: 300px;
      float: left;
      margin-right: 20px; }
    .testimonials .testimonials-block .item p {
      font-size: 14px;
      margin: 40px 0; }
  .testimonials .testimonials-block .owl-dots {
    text-align: center;
    position: relative;
    bottom: -12px; }
    .testimonials .testimonials-block .owl-dots .owl-dot {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      border: 1px solid #ccc;
      background: #fff;
      top: 15px;
      margin-right: 5px;
      display: inline-block; }
      .testimonials .testimonials-block .owl-dots .owl-dot.active {
        background: #6585ff; }
  .testimonials .testimonials-block .owl-nav div {
    width: 25px;
    height: 35px;
    background-image: url("images/responceArr.png");
    top: 10px;
    position: absolute; }
    .testimonials .testimonials-block .owl-nav div.owl-next {
      right: 0;
      background-position: top right; }

.breadcrumbs {
  background-color: #ccc;
  width: 100%; }
  .breadcrumbs ul li {
    float: left;
    display: block;
    margin: 13px 0; }
    .breadcrumbs ul li a {
      color: #000;
      text-decoration: none; }
      .breadcrumbs ul li a:hover {
        text-decoration: none; }
    .breadcrumbs ul li .fa {
      margin: 0 5px;
      color: #fa7b0a; }

.article-content,
aside {
  margin: 20px 0; }
  .article-content h2,
  aside h2 {
    font-size: 24px;
    text-align: center; }
  .article-content img,
  aside img {
    margin: 20px auto; }
  .article-content p,
  aside p {
    line-height: 24px;
    margin: 10px 0; }

.related-posts,
.reltours {
  margin: 100px 0; }

.reltours .item {
  border-top: 3px solid #6585ff; }
  .reltours .item p {
    text-align: center;
    margin: 10px 0; }
  .reltours .item img {
    margin: 15px 0; }

.reltours .owl-dots {
  text-align: center;
  position: relative;
  bottom: -12px; }
  .reltours .owl-dots .owl-dot {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #fff;
    top: 15px;
    margin-right: 5px;
    display: inline-block; }
    .reltours .owl-dots .owl-dot.active {
      background: #6585ff; }

.reltours .owl-nav div {
  width: 25px;
  height: 35px;
  background-image: url("images/responceArr.png");
  top: 10px;
  position: absolute; }
  .reltours .owl-nav div.owl-next {
    right: 0;
    background-position: top right; }

.articles {
  margin: 30px 0; }
  .articles h2 {
    text-align: center;
    text-transform: uppercase; }
  .articles .art-item {
    margin: 10px 0 30px 0;
    border-bottom: 3px solid #fa7b0a; }
    .articles .art-item p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      padding: 8px 10px; }

aside h2 {
  font-size: 22px;
  color: #fa7b0a; }

aside .sidebar_propose .owl-nav div {
  width: 20px;
  height: 35px;
  background-image: url("images/proposeArrows.png");
  top: 40%;
  position: absolute; }
  aside .sidebar_propose .owl-nav div.owl-next {
    right: 0;
    background-position: top right; }

footer {
  width: 100%;
  position: relative; }

.subfooter {
  padding: 50px 0;
  background-color: #ededef; }
  .subfooter .items {
    margin: 0 0 10px 0; }
  .subfooter .item-icon,
  .subfooter .item-text {
    display: table-cell;
    vertical-align: middle; }
  .subfooter .item-icon {
    width: 50px; }
  .subfooter .list-link {
    width: 85%;
    margin: 0 auto; }
  .subfooter h3,
  .subfooter .list-link li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .subfooter li a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #292929;
    display: block;
    margin-bottom: 10px; }
  .subfooter .list-link li a {
    color: #fa7b0a; }
  .subfooter .sub-form {
    margin-top: 30px; }
    .subfooter .sub-form p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px; }
    .subfooter .sub-form .form-sub {
      margin: 30px 0;
      border: 1px solid red; }
      .subfooter .sub-form .form-sub input[type="text"],
      .subfooter .sub-form .form-sub input[type="submit"] {
        border: 0 solid red;
        font-size: 12px; }
      .subfooter .sub-form .form-sub input[type="text"] {
        padding: 10px;
        margin-right: 5px;
        background-color: #ededef;
        width: 60%; }
      .subfooter .sub-form .form-sub input[type="submit"] {
        background-color: #6585ff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 7px 17px;
        color: #ededef; }

.bmfooter {
  background-color: #494b5a;
  margin: 0;
  padding: 0; }
  .bmfooter li, .bmfooter a {
    color: #fff; }
  .bmfooter a {
    text-decoration: none; }
  .bmfooter .footer-social li {
    display: inline-block;
    margin-right: 5px; }
    .bmfooter .footer-social li a {
      color: #f99b53;
      font-size: 30px; }
  .bmfooter .footer-copy li a {
    color: #fff;
    font-size: 14px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
  .sf-menu a {
    padding: .75em .8em !important; }
  .sf-arrows .sf-with-ul {
    padding-right: 2em !important; }
  .topmainslider {
    height: 75vh; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  nav {
    background: none;
    float: left; }
  .sf-menu {
    display: none !important; } }

@media only screen and (max-width: 768px) {
  .top-header {
    font-size: 17px; }
    .top-header .top-tel {
      margin-left: 30px; }
    .top-header .call-form {
      margin-top: 0; }
      .top-header .call-form img {
        width: 25px;
        height: 22px; }
      .top-header .call-form a {
        margin: 0 0 0 15px; }
    .top-header .top-logo {
      margin-bottom: 10px; }
  .footer-social,
  .footer-copy {
    text-align: center; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 667px) {
  .proposeSlider .proposeSliderTabs .tabs {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 380px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/*# sourceMappingURL=style.css.map */
