@font-face {
  font-family: "informCTT";
  src: url("fonts/InformCTT.ttf") format("truetype"); }

@font-face {
  font-family: "astoria";
  src: url("fonts/astoria_deco.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

textarea:focus,
input:focus {
  outline: none !important; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  max-width: 100%;
  min-width: 320px; }

section {
  display: block; }

.wrrap {
  width: 100%; }

#top,
#btn-connect {
  position: absolute;
  cursor: pointer;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: #6585ff; }

#top {
  bottom: 7%;
  right: 10%;
  font-size: 45px; }

#btn-connect {
  top: 0;
  left: 0;
  padding: 15px 0;
  font-family: "Roboto", sans-serif; }

header {
  display: block; }
  header .top-slider {
    width: 100%; }

#topSlider {
  overflow: hidden;
  max-height: 100%;
  height: 410px; }

#topSlider .full-screen {
  background-size: 100%;
  -webkit-background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.carousel-control {
  z-index: 10;
  width: 15% !important;
  opacity: 1; }

.carousel-control.left {
  left: -4%;
  top: 40%;
  background: url("images/topSliderarr.png") 130px 0 no-repeat; }

.carousel-control.right {
  right: -4%;
  top: 40%;
  background: url("images/topSliderarr.png") -67px 0 no-repeat; }

.topFoo {
  position: absolute;
  width: 100%;
  top: 0; }

.formbtn {
  background: #6585ff;
  padding: 8px 10px;
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif; }
  .formbtn a {
    color: #fff;
    text-decoration: none; }

.header-content {
  overflow: hidden;
  height: 100%;
  z-index: 2; }

.top-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px; }
  .top-header .call-form {
    border: 0 solid red;
    margin-top: -8px;
    margin-bottom: 3px; }
    .top-header .call-form img {
      float: left;
      width: 35px;
      height: 30px;
      margin-right: 10px; }
    .top-header .call-form a {
      color: #fff;
      font-size: 12px;
      text-decoration: underline;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      display: block;
      margin: 5px 0 0 15px; }
  .top-header .top-tel {
    margin-left: 40px; }
  .top-header .top-kurs {
    color: #fa7b0a;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center; }
  .top-header .top-logo a {
    display: block;
    text-align: center; }
    .top-header .top-logo a img {
      margin: 0 auto; }
  .top-header .top-enter {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0 0;
    float: right; }
    .top-header .top-enter .top-searchIcon {
      float: left;
      width: 70%; }
      .top-header .top-enter .top-searchIcon img {
        width: 30px;
        float: right;
        cursor: pointer; }
    .top-header .top-enter a {
      display: block;
      float: right; }

.top-search {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 150;
  display: none; }

.top-search .close,
.choosevocation .close {
  width: 38px;
  height: 33px;
  cursor: pointer;
  opacity: .5;
  float: right;
  margin: 10px 0;
  background: url("images/srch-cross.png"); }
  .top-search .close:hover,
  .choosevocation .close:hover {
    opacity: 1; }

.top-search .src-form {
  width: 90%;
  margin: 130px auto;
  border: 0 solid red;
  z-index: 1000; }
  .top-search .src-form input[type="seacrh"],
  .top-search .src-form input[type="submit"] {
    border: none;
    width: 100%;
    background: none;
    padding: 6px 0;
    font-family: "Open Sans", sans-serif; }
  .top-search .src-form input[type="seacrh"] {
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #fa7b0a; }
  .top-search .src-form input[type="seacrh"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 30px; }
  .top-search .src-form input[type="seacrh"]:-moz-placeholder {
    color: #fff;
    font-size: 30px; }
  .top-search .src-form input[type="seacrh"]::-moz-placeholder {
    color: #fff;
    font-size: 30px; }
  .top-search .src-form input[type="seacrh"]:-ms-input-placeholder {
    color: #fff;
    font-size: 30px; }
  .top-search .src-form input[type="submit"] {
    border: 1px solid #fa7b0a;
    font-size: 30px;
    border-radius: 3px;
    color: #fa7b0a; }
  .top-search .src-form .src-img {
    width: 100%; }
    .top-search .src-form .src-img img {
      margin: 80px auto; }

.header-logo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px; }
  .header-logo img {
    margin: 0 auto; }
  .header-logo h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", sans-serif; }

.choosevocation {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 95%;
  padding: 4px 0 0; }
  .choosevocation .form-group {
    float: left;
    overflow: hidden;
    width: auto;
    margin-right: 16px;
    margin-bottom: 0; }
  .choosevocation label {
    display: block;
    margin: 0;
    padding: 5px 9px 0 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    position: relative; }
    .choosevocation label.curort {
      text-align: right;
      background: url("images/vform-icons.png") no-repeat;
      background-position: 0 0; }
    .choosevocation label.hotel {
      text-align: right;
      background: url("images/vform-icons.png") no-repeat;
      background-position: 0 -35px; }
    .choosevocation label.checkin {
      text-align: right;
      background: url("images/vform-icons.png") no-repeat;
      background-position: -3px -60px;
      background-size: 35px; }
    .choosevocation label.departure {
      text-align: right;
      background: url("images/vform-icons.png") no-repeat;
      background-position: 0 -88px;
      background-size: 35px; }
    .choosevocation label.small {
      font-size: 13px;
      padding: 3px 0;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      margin-top: 6px; }
  .choosevocation input[type="text"] {
    margin: 4px auto;
    width: 100%;
    border-radius: 6px; }
  .choosevocation input[type="image"] {
    margin: 20px 0 0 10px; }

#passport {
  position: absolute;
  z-index: 2;
  background: url("images/passport.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  right: 0;
  bottom: -90px;
  width: 85px;
  height: 85px; }
  #passport a {
    text-indent: -9999px;
    display: block; }
  #passport:hover {
    background: url("images/passport.png") 0 -87px no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }
    #passport:hover a {
      text-indent: 0;
      font-size: 12px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      padding: 18px;
      font-weight: bold; }
      #passport:hover a span {
        display: block; }

.menu-wrap {
  width: 100%;
  margin: 0 0 8px 0; }

nav {
  float: right; }
  nav .sf-arrows .sf-with-ul::after {
    border-top-color: #fa7b0a; }
  nav .sf-menu {
    margin: 0;
    padding: 0;
    position: relative; }
    nav .sf-menu .sf-mega {
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      left: auto; }
      nav .sf-menu .sf-mega:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid #fa7b0a;
        left: 10%;
        margin-left: -12px;
        top: 0;
        width: 0;
        z-index: 1000; }
      nav .sf-menu .sf-mega ul {
        display: block;
        float: none;
        position: relative; }
        nav .sf-menu .sf-mega ul li {
          background: none;
          display: block;
          margin: 5px 0; }
          nav .sf-menu .sf-mega ul li a {
            color: #fff;
            font-weight: normal;
            margin: 0;
            padding: 0; }
            nav .sf-menu .sf-mega ul li a:before {
              content: "\f105";
              font-family: FontAwesome;
              float: left;
              margin-right: 10px; }
            nav .sf-menu .sf-mega ul li a:hover {
              color: #fa7b0a;
              margin-left: 5px; }
    nav .sf-menu li {
      position: static;
      white-space: normal;
      background: none;
      font-weight: bold; }
      nav .sf-menu li:hover {
        background: #fa7b0a; }
      nav .sf-menu li > a {
        text-decoration: none;
        color: #292929;
        font-size: 14px;
        border: none;
        display: block;
        position: relative;
        margin: 2px 0 0 0; }
        nav .sf-menu li > a:hover {
          text-decoration: none;
          color: #fff;
          font-weight: bold; }
        nav .sf-menu li > a.active {
          border-top: 2px solid #fa7b0a;
          margin: 0; }
    nav .sf-menu > li > ul {
      width: 200px;
      left: auto; }
      nav .sf-menu > li > ul li {
        background-color: rgba(0, 0, 0, 0.5); }
        nav .sf-menu > li > ul li:hover {
          background-color: rgba(0, 0, 0, 0.5); }
        nav .sf-menu > li > ul li a {
          color: #fff;
          position: relative; }
          nav .sf-menu > li > ul li a:hover {
            color: #fa7b0a; }

.toggle-mnu {
  display: block;
  width: 45px;
  height: 33px;
  margin-top: 14px;
  float: left;
  border-radius: 5px;
  padding: 6px 8px;
  background: #6585ff; }
  .toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .toggle-mnu span:after {
    top: 18px; }
  .toggle-mnu span {
    position: relative;
    display: block; }
  .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  .toggle-mnu.on span {
    background-color: transparent; }
  .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px); }
  .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px); }

.proposeSlider {
  overflow: hidden;
  position: relative; }
  .proposeSlider .proposeSliderTabs {
    border-top: 5px #6585ff solid; }
    .proposeSlider .proposeSliderTabs .tabs {
      margin: 0 auto;
      width: 50%; }
      .proposeSlider .proposeSliderTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 33%;
        position: relative;
        padding: 20px 0 35px 0; }
        .proposeSlider .proposeSliderTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .proposeSlider .proposeSliderTabs .tabs .tab.active a, .proposeSlider .proposeSliderTabs .tabs .tab:hover a {
          color: #6585ff;
          font-weight: bold;
          text-transform: uppercase; }
        .proposeSlider .proposeSliderTabs .tabs .tab.active:after, .proposeSlider .proposeSliderTabs .tabs .tab:hover:after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          border-top: 8px solid #6585ff;
          left: 50%;
          margin-left: -12px;
          top: 0;
          width: 0; }
    .proposeSlider .proposeSliderTabs .tab_item {
      overflow: hidden;
      display: none; }
      .proposeSlider .proposeSliderTabs .tab_item:first-child {
        display: block; }
      .proposeSlider .proposeSliderTabs .tab_item .item {
        position: relative;
        border-bottom: 3px solid #fa7b0a; }
        .proposeSlider .proposeSliderTabs .tab_item .item .imgHold {
          position: relative; }
          .proposeSlider .proposeSliderTabs .tab_item .item .imgHold .capt {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; }
            .proposeSlider .proposeSliderTabs .tab_item .item .imgHold .capt p {
              color: #0f0f0f;
              float: left;
              font-size: 18px;
              margin: 2px 17px;
              line-height: 40px; }
              .proposeSlider .proposeSliderTabs .tab_item .item .imgHold .capt p.capt-price {
                float: right;
                font-size: 24px;
                color: red;
                font-weight: bold; }
        .proposeSlider .proposeSliderTabs .tab_item .item .decr-item {
          position: relative;
          overflow: hidden; }
          .proposeSlider .proposeSliderTabs .tab_item .item .decr-item p {
            padding: 15px 0 8px 15px; }
          .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateY(30px);
            -webkit-transition: all .25s;
            -o-transition: all .25s;
            transition: all .25s;
            background-color: #fa7b0a; }
            .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link a {
              margin: 20px;
              padding: 3px 20px;
              float: left;
              display: block;
              text-align: center;
              border: 1px solid #fff;
              border-radius: 3px;
              color: #fff; }
              .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link a:last-child {
                float: right; }
              .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link a:hover {
                text-decoration: none; }
        .proposeSlider .proposeSliderTabs .tab_item .item .decr-item:hover .descr-link {
          opacity: 1;
          transform: translateY(0); }
    .proposeSlider .proposeSliderTabs .owl-nav div {
      width: 25px;
      height: 35px;
      background-image: url("images/proposeArrows.png");
      top: 30%;
      position: absolute; }
      .proposeSlider .proposeSliderTabs .owl-nav div.owl-next {
        right: 0;
        background-position: top right; }
    .proposeSlider .proposeSliderTabs .owl-dots {
      text-align: center;
      margin-top: 15px; }
      .proposeSlider .proposeSliderTabs .owl-dots .owl-dot {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 5px;
        display: inline-block; }
        .proposeSlider .proposeSliderTabs .owl-dots .owl-dot.active {
          background: #fa7b0a; }
  .proposeSlider .mainNewsTabs {
    border-top: 5px #fa7b0a solid;
    z-index: 1;
    position: relative; }
    .proposeSlider .mainNewsTabs .tabs {
      margin: 0 auto;
      width: 40%; }
      .proposeSlider .mainNewsTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        position: relative;
        padding: 20px 0; }
        .proposeSlider .mainNewsTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .proposeSlider .mainNewsTabs .tabs .tab.active a, .proposeSlider .mainNewsTabs .tabs .tab:hover a {
          color: #fa7b0a;
          font-weight: bold;
          text-transform: uppercase; }
          .proposeSlider .mainNewsTabs .tabs .tab.active a:after, .proposeSlider .mainNewsTabs .tabs .tab:hover a:after {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-top: 8px solid #fa7b0a;
            left: 50%;
            margin-left: -12px;
            top: 0;
            width: 0; }
    .proposeSlider .mainNewsTabs .tab-item {
      overflow: hidden;
      display: none;
      color: #fff; }
      .proposeSlider .mainNewsTabs .tab-item:first-child {
        display: block; }
      .proposeSlider .mainNewsTabs .tab-item .item .short-text {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #ffffff;
        margin: 15px;
        line-height: 18px;
        padding: 0 0 20px 0; }
        .proposeSlider .mainNewsTabs .tab-item .item .short-text .title {
          font-weight: bold;
          margin: 5px 0; }
        .proposeSlider .mainNewsTabs .tab-item .item .short-text a {
          display: block;
          float: right;
          position: absolute;
          right: 0;
          top: 90%;
          border-radius: 5px;
          border: 1px solid #fa7b0a;
          padding: 5px 15px;
          color: #fa7b0a;
          font-weight: bold;
          margin-right: 5px; }
          .proposeSlider .mainNewsTabs .tab-item .item .short-text a:hover {
            text-decoration: none;
            font-size: 15px;
            background: url("images/newsArr.png") 15px 10px no-repeat;
            padding-left: 30px; }

.ourTours {
  background-color: #e9e5e2;
  margin-top: 20px; }
  .ourTours h3 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #6585ff;
    margin: 30px 0 0 0;
    font-size: 22px; }
  .ourTours .cat-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 0; }

.ourTours .cat-container .cat-pict,
.jc-items .cat-pict {
  position: relative;
  overflow: hidden; }
  .ourTours .cat-container .cat-pict p,
  .jc-items .cat-pict p {
    background-color: #fff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-family: "informCTT", sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-top: 3px solid #6585ff; }
  .ourTours .cat-container .cat-pict:nth-child(1),
  .jc-items .cat-pict:nth-child(1) {
    grid-column: 1/3; }
  .ourTours .cat-container .cat-pict:nth-child(10),
  .jc-items .cat-pict:nth-child(10) {
    grid-column: 3/5; }

.ourTours .cat-container .descr,
.jc-items .descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/baketsfor-tur.png") rgba(0, 0, 0, 0.5) no-repeat;
  background-position: center center;
  color: #fff;
  opacity: 0;
  transform: translateY(-30px);
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  overflow: hidden; }
  .ourTours .cat-container .descr p,
  .jc-items .descr p {
    background-color: #6585ff;
    display: block;
    position: relative; }
    .ourTours .cat-container .descr p:after,
    .jc-items .descr p:after {
      content: '';
      position: absolute;
      border: 15px solid transparent;
      border-top: 15px solid #6585ff;
      left: 50%;
      margin-left: -12px;
      bottom: -30px;
      width: 0; }

.ourTours .cat-container .cat-pict:hover .descr,
.jc-items .cat-pict:hover .descr {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.mainNews {
  width: 100%;
  background: url("images/mainsrticle-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  padding-bottom: 30px; }
  .mainNews .proposeSliderTabs {
    border-top: 5px #6585ff solid; }
    .mainNews .proposeSliderTabs .tabs {
      margin: 0 auto;
      width: 50%; }
      .mainNews .proposeSliderTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 33%;
        position: relative;
        padding: 20px 0 35px 0; }
        .mainNews .proposeSliderTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .mainNews .proposeSliderTabs .tabs .tab.active a, .mainNews .proposeSliderTabs .tabs .tab:hover a {
          color: #6585ff;
          font-weight: bold;
          text-transform: uppercase; }
        .mainNews .proposeSliderTabs .tabs .tab.active:after, .mainNews .proposeSliderTabs .tabs .tab:hover:after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          border-top: 8px solid #6585ff;
          left: 50%;
          margin-left: -12px;
          top: 0;
          width: 0; }
    .mainNews .proposeSliderTabs .tab_item {
      overflow: hidden;
      display: none; }
      .mainNews .proposeSliderTabs .tab_item:first-child {
        display: block; }
      .mainNews .proposeSliderTabs .tab_item .item {
        position: relative;
        border-bottom: 3px solid #fa7b0a; }
        .mainNews .proposeSliderTabs .tab_item .item .imgHold {
          position: relative; }
          .mainNews .proposeSliderTabs .tab_item .item .imgHold .capt {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; }
            .mainNews .proposeSliderTabs .tab_item .item .imgHold .capt p {
              color: #0f0f0f;
              float: left;
              font-size: 18px;
              margin: 2px 17px;
              line-height: 40px; }
              .mainNews .proposeSliderTabs .tab_item .item .imgHold .capt p.capt-price {
                float: right;
                font-size: 24px;
                color: red;
                font-weight: bold; }
        .mainNews .proposeSliderTabs .tab_item .item .decr-item {
          position: relative;
          overflow: hidden; }
          .mainNews .proposeSliderTabs .tab_item .item .decr-item p {
            padding: 15px 0 8px 15px; }
          .mainNews .proposeSliderTabs .tab_item .item .decr-item .descr-link {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateY(30px);
            -webkit-transition: all .25s;
            -o-transition: all .25s;
            transition: all .25s;
            background-color: #fa7b0a; }
            .mainNews .proposeSliderTabs .tab_item .item .decr-item .descr-link a {
              margin: 20px;
              padding: 3px 20px;
              float: left;
              display: block;
              text-align: center;
              border: 1px solid #fff;
              border-radius: 3px;
              color: #fff; }
              .mainNews .proposeSliderTabs .tab_item .item .decr-item .descr-link a:last-child {
                float: right; }
              .mainNews .proposeSliderTabs .tab_item .item .decr-item .descr-link a:hover {
                text-decoration: none; }
        .mainNews .proposeSliderTabs .tab_item .item .decr-item:hover .descr-link {
          opacity: 1;
          transform: translateY(0); }
    .mainNews .proposeSliderTabs .owl-nav div {
      width: 25px;
      height: 35px;
      background-image: url("images/proposeArrows.png");
      top: 30%;
      position: absolute; }
      .mainNews .proposeSliderTabs .owl-nav div.owl-next {
        right: 0;
        background-position: top right; }
    .mainNews .proposeSliderTabs .owl-dots {
      text-align: center;
      margin-top: 15px; }
      .mainNews .proposeSliderTabs .owl-dots .owl-dot {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 5px;
        display: inline-block; }
        .mainNews .proposeSliderTabs .owl-dots .owl-dot.active {
          background: #fa7b0a; }
  .mainNews .mainNewsTabs {
    border-top: 5px #fa7b0a solid;
    z-index: 1;
    position: relative; }
    .mainNews .mainNewsTabs .tabs {
      margin: 0 auto;
      width: 40%; }
      .mainNews .mainNewsTabs .tabs .tab {
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        position: relative;
        padding: 20px 0; }
        .mainNews .mainNewsTabs .tabs .tab a {
          color: #292929;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none; }
        .mainNews .mainNewsTabs .tabs .tab.active a, .mainNews .mainNewsTabs .tabs .tab:hover a {
          color: #fa7b0a;
          font-weight: bold;
          text-transform: uppercase; }
          .mainNews .mainNewsTabs .tabs .tab.active a:after, .mainNews .mainNewsTabs .tabs .tab:hover a:after {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-top: 8px solid #fa7b0a;
            left: 50%;
            margin-left: -12px;
            top: 0;
            width: 0; }
    .mainNews .mainNewsTabs .tab-item {
      overflow: hidden;
      display: none;
      color: #fff; }
      .mainNews .mainNewsTabs .tab-item:first-child {
        display: block; }
      .mainNews .mainNewsTabs .tab-item .item .short-text {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #ffffff;
        margin: 15px;
        line-height: 18px;
        padding: 0 0 20px 0; }
        .mainNews .mainNewsTabs .tab-item .item .short-text .title {
          font-weight: bold;
          margin: 5px 0; }
        .mainNews .mainNewsTabs .tab-item .item .short-text a {
          display: block;
          float: right;
          position: absolute;
          right: 0;
          top: 90%;
          border-radius: 5px;
          border: 1px solid #fa7b0a;
          padding: 5px 15px;
          color: #fa7b0a;
          font-weight: bold;
          margin-right: 5px; }
          .mainNews .mainNewsTabs .tab-item .item .short-text a:hover {
            text-decoration: none;
            font-size: 15px;
            background: url("images/newsArr.png") 15px 10px no-repeat;
            padding-left: 30px; }

.testimonials {
  padding: 20px 0 30px 0;
  margin-bottom: 50px; }
  .testimonials h3 {
    text-align: center;
    color: #6585ff;
    text-transform: uppercase;
    font-size: 22px;
    margin: 30px 0;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    font-weight: 400; }
  .testimonials .testimonials-block .item {
    border-top: 3px solid #6585ff;
    padding-top: 10px; }
    .testimonials .testimonials-block .item .resp-title {
      width: 100%;
      text-align: center;
      color: #000;
      margin-top: 0;
      margin-bottom: 12px;
      font-family: "astoria", sans-serif;
      font-size: 30px; }
    .testimonials .testimonials-block .item img {
      width: 300px;
      float: left;
      margin-right: 20px; }
    .testimonials .testimonials-block .item p {
      font-size: 14px;
      margin: 40px 0; }
  .testimonials .testimonials-block .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px; }
    .testimonials .testimonials-block .owl-dots .owl-dot {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      border: 1px solid #ccc;
      background: #fff;
      top: 15px;
      margin-right: 5px;
      display: inline-block; }
      .testimonials .testimonials-block .owl-dots .owl-dot.active {
        background: #6585ff; }
  .testimonials .testimonials-block .owl-nav div {
    width: 17px;
    height: 35px;
    background-image: url("images/responceArr.png");
    top: 8px;
    position: absolute; }
    .testimonials .testimonials-block .owl-nav div.owl-next {
      right: 0;
      background-position: top right; }

.breadcrumbs {
  background-color: #ccc; }
  .breadcrumbs ul li {
    float: left;
    display: block;
    margin: 13px 0; }
    .breadcrumbs ul li a {
      color: #000;
      text-decoration: none; }
      .breadcrumbs ul li a:hover {
        text-decoration: none; }
    .breadcrumbs ul li .fa {
      margin: 0 5px;
      color: #fa7b0a; }

.article-content,
aside {
  margin: 20px 0; }
  .article-content h2,
  aside h2 {
    font-size: 24px;
    text-align: center; }
  .article-content img,
  aside img {
    margin: 20px auto; }
  .article-content p,
  aside p {
    line-height: 24px;
    margin: 10px 0; }

.related-posts,
.reltours {
  margin: 100px 0; }

.reltours h3 {
  text-align: center;
  color: #6585ff;
  text-transform: uppercase;
  font-size: 22px;
  margin: 30px 0;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5); }

.reltours .item {
  border-top: 3px solid #6585ff; }
  .reltours .item p {
    text-align: center;
    margin: 10px 0;
    font-family: "informCTT", sans-serif; }
  .reltours .item img {
    margin: 15px 0; }

.reltours .owl-dots {
  text-align: center;
  position: relative;
  bottom: -12px; }
  .reltours .owl-dots .owl-dot {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background: #fff;
    top: 15px;
    margin-right: 5px;
    display: inline-block; }
    .reltours .owl-dots .owl-dot.active {
      background: #6585ff; }

.reltours .owl-nav div {
  width: 15px;
  height: 33px;
  background-image: url("images/responceArr.png");
  top: 7px;
  position: absolute; }
  .reltours .owl-nav div.owl-next {
    right: 0;
    background-position: top right; }

.related-posts .imgHold {
  position: relative; }
  .related-posts .imgHold .capt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
    .related-posts .imgHold .capt p {
      color: #fff;
      float: left;
      font-size: 14px;
      margin: 2px 17px;
      line-height: 40px;
      display: block; }
      .related-posts .imgHold .capt p.capt-price {
        float: right; }
        .related-posts .imgHold .capt p.capt-price a {
          border-radius: 5px;
          border: 1px solid #fa7b0a;
          padding: 5px 15px;
          font-weight: bold;
          margin-right: 5px;
          color: #fa7b0a; }
          .related-posts .imgHold .capt p.capt-price a:hover {
            text-decoration: none; }

.related-posts .decr-item {
  position: relative;
  overflow: hidden; }
  .related-posts .decr-item p {
    padding: 15px 0 8px 15px; }
  .related-posts .decr-item .descr-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(30px);
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    background-color: #fa7b0a; }
    .related-posts .decr-item .descr-link a {
      margin: 20px;
      padding: 3px 20px;
      float: left;
      display: block;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 3px;
      color: #fff; }
      .related-posts .decr-item .descr-link a:last-child {
        float: right; }
      .related-posts .decr-item .descr-link a:hover {
        text-decoration: none; }
  .related-posts .decr-item .decr-item:hover .descr-link {
    opacity: 1;
    transform: translateY(0); }

.articles {
  margin: 30px 0; }
  .articles h2 {
    text-align: center;
    text-transform: uppercase; }
  .articles .art-item {
    display: none;
    margin: 10px 0 30px 0;
    border-bottom: 3px solid #fa7b0a;
    position: relative; }
    .articles .art-item .holder {
      position: relative; }
      .articles .art-item .holder img {
        margin: 0 auto; }
      .articles .art-item .holder .captholder {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8); }
        .articles .art-item .holder .captholder p {
          color: #fff;
          float: left;
          font-size: 18px;
          margin: 2px 17px;
          line-height: 40px;
          text-transform: uppercase; }
    .articles .art-item .decript-item {
      position: relative;
      overflow: hidden; }
      .articles .art-item .decript-item p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        padding: 8px 10px; }
      .articles .art-item .decript-item .decript-link {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateY(30px);
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
        background-color: #fa7b0a; }
        .articles .art-item .decript-item .decript-link a {
          margin: 25px;
          padding: 3px 20px;
          display: block;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 3px;
          color: #fff;
          float: right; }
          .articles .art-item .decript-item .decript-link a:hover {
            text-decoration: none; }
    .articles .art-item .decript-item:hover .decript-link {
      opacity: 1;
      transform: translateY(0); }

#button-more {
  cursor: pointer;
  width: 18%;
  margin: 0 auto;
  font-family: "Opem Sans", sans-serif;
  font-size: 18px; }
  #button-more img {
    float: left; }
  #button-more p {
    padding: 20px 0 0 0;
    float: right; }

#cardTabs {
  border-top: 5px #fa7b0a solid;
  border-bottom: 1px solid #9a9a9a; }
  #cardTabs .tabs {
    margin: 0;
    border-bottom: 3px #fa7b0a solid; }
    #cardTabs .tabs .spantabs {
      width: 92%;
      margin: 0 auto; }
    #cardTabs .tabs .tab {
      display: block;
      float: left;
      text-align: center;
      position: relative;
      padding: 13px 28px; }
      #cardTabs .tabs .tab a {
        color: #292929;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Open Sans", sans-serif; }
      #cardTabs .tabs .tab.active a, #cardTabs .tabs .tab:hover a {
        color: #fa7b0a;
        font-weight: bold;
        text-transform: uppercase; }
      #cardTabs .tabs .tab.active:after, #cardTabs .tabs .tab:hover:after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-top: 8px solid #fa7b0a;
        left: 50%;
        margin-left: -12px;
        top: 0;
        width: 0; }
  #cardTabs .tab-item {
    overflow: hidden;
    display: none;
    background-color: #e6e6e6; }
    #cardTabs .tab-item:first-child {
      display: block; }
    #cardTabs .tab-item .topinfo {
      border-bottom: 1px solid #0f0f0f; }
    #cardTabs .tab-item .infotur,
    #cardTabs .tab-item .infoblock {
      width: 50%; }
    #cardTabs .tab-item .infotur {
      float: left; }
    #cardTabs .tab-item .info-items {
      border-bottom: 1px solid; }
      #cardTabs .tab-item .info-items:last-child {
        border-bottom: none; }
      #cardTabs .tab-item .info-items .info-name,
      #cardTabs .tab-item .info-items .item-info {
        display: table-cell;
        padding: 4px 0;
        font-size: 18px; }
      #cardTabs .tab-item .info-items .info-name {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        width: 195px; }
      #cardTabs .tab-item .info-items .item-info {
        font-family: "Open Sans", sans-serif;
        width: 175px; }
        #cardTabs .tab-item .info-items .item-info .infoCal {
          border: 1px solid #9a9a9a;
          border-radius: 7px;
          width: 100%; }
          #cardTabs .tab-item .info-items .item-info .infoCal .fa {
            color: #fa7b0a; }
          #cardTabs .tab-item .info-items .item-info .infoCal input[type="text"] {
            width: 90%;
            border: none;
            background: #e6e6e6;
            padding: 2px 0;
            margin: 0 0 0 3px; }
      #cardTabs .tab-item .info-items img {
        float: left;
        max-width: 656px;
        width: 100%; }
    #cardTabs .tab-item .infoblock {
      float: right; }
      #cardTabs .tab-item .infoblock .priceblock {
        position: absolute;
        top: 140px;
        font-family: "Open Sans", sans-serif; }
        #cardTabs .tab-item .infoblock .priceblock .price {
          color: #fa7b0a;
          font-size: 30px;
          text-align: center;
          border-bottom: 2px solid #fa7b0a;
          padding-bottom: 20px; }
        #cardTabs .tab-item .infoblock .priceblock a {
          display: block;
          background-color: #6585ff;
          color: #ffffff;
          border-radius: 6px;
          padding: 8px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 30px; }
          #cardTabs .tab-item .infoblock .priceblock a:hover {
            text-decoration: none; }

#dopinfo {
  width: 100%;
  font-family: "Open Sans", sans-serif; }
  #dopinfo .leftSide {
    float: left;
    width: 18%; }
    #dopinfo .leftSide span.left-tab {
      display: block;
      padding: 10px 10px;
      background-color: #fff;
      cursor: pointer;
      font-size: 18px;
      border-bottom: 1px solid #9a9a9a; }
      #dopinfo .leftSide span.left-tab:last-child {
        border-bottom: none; }
      #dopinfo .leftSide span.left-tab.active {
        border-left: 4px solid #fa7b0a;
        background-color: #e6e6e6; }
  #dopinfo .rightSide {
    float: right;
    width: 82%;
    padding: 10px 20px;
    font-size: 14px; }
    #dopinfo .rightSide .right-item {
      display: none; }
      #dopinfo .rightSide .right-item:first-child {
        display: block; }

.tourdescription {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }
  .tourdescription p,
  .tourdescription ul {
    margin: 0 10px; }
  .tourdescription .desctitle {
    text-align: center;
    color: #fa7b0a;
    font-weight: bold;
    line-height: 24px;
    margin: 40px 0 30px 0; }
    .tourdescription .desctitle span {
      display: block; }

#cardslider {
  margin: 30px 0; }
  #cardslider .owl-nav div {
    width: 25px;
    height: 35px;
    background-image: url("images/proposeArrows.png");
    top: 30%;
    position: absolute; }
    #cardslider .owl-nav div.owl-next {
      right: 0;
      background-position: top right; }

aside h2 {
  font-size: 22px;
  color: #fa7b0a; }

aside .sidebar_propose .owl-nav div {
  width: 20px;
  height: 35px;
  background-image: url("images/proposeArrows.png");
  top: 40%;
  position: absolute; }
  aside .sidebar_propose .owl-nav div.owl-next {
    right: 0;
    background-position: top right; }

aside .sidebartours_propose h2 {
  color: #6585ff; }

aside .prod_slider {
  position: relative;
  margin: 20px 0; }
  aside .prod_slider #slideimg {
    overflow: hidden;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    top: 0; }
    aside .prod_slider #slideimg .jc-items {
      position: relative;
      height: 700px;
      z-index: 1; }
      aside .prod_slider #slideimg .jc-items .cat-pict {
        overflow: visible; }
      aside .prod_slider #slideimg .jc-items p {
        padding: 15px 0 0;
        line-height: 15px; }
      aside .prod_slider #slideimg .jc-items .descr p {
        padding: 10px; }
      aside .prod_slider #slideimg .jc-items img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 15px auto; }
  aside .prod_slider #block_arrows {
    width: 100%;
    z-index: 5; }
    aside .prod_slider #block_arrows .prev {
      position: absolute;
      top: -4%;
      right: 2%; }
    aside .prod_slider #block_arrows .next {
      position: absolute;
      bottom: -4%;
      right: 2%; }
  aside .prod_slider i {
    font-size: 20px;
    color: #6585ff; }

footer {
  width: 100%;
  position: relative; }

.subfooter {
  padding: 50px 0;
  background-color: #ededef; }
  .subfooter .items {
    margin: 0 0 10px 0; }
    .subfooter .items p {
      padding: 0 0 10px 0; }
    .subfooter .items span.day,
    .subfooter .items span.time {
      display: inline-block; }
    .subfooter .items span.day {
      width: 30%; }
  .subfooter .item-icon,
  .subfooter .item-text {
    display: table-cell;
    vertical-align: middle;
    width: 85%; }
  .subfooter .item-icon {
    width: 40px; }
  .subfooter .list-link {
    width: 85%;
    margin: 0 auto; }
  .subfooter h3,
  .subfooter .list-link li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #000000; }
  .subfooter li a,
  .subfooter .items {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #292929;
    display: block;
    margin-bottom: 10px; }
  .subfooter .list-link li a {
    color: #fa7b0a; }
  .subfooter .sub-form {
    margin-top: 40px; }
    .subfooter .sub-form p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #000; }
    .subfooter .sub-form .form-sub {
      font-family: 'Open Sans', sans-serif;
      margin: 30px 0;
      border: 1px solid red; }
      .subfooter .sub-form .form-sub input[type="text"],
      .subfooter .sub-form .form-sub input[type="submit"] {
        border: 0;
        font-size: 12px; }
      .subfooter .sub-form .form-sub input[type="text"] {
        padding: 10px;
        background-color: #ededef;
        width: 69%; }
      .subfooter .sub-form .form-sub input[type="submit"] {
        background-color: #6585ff;
        text-transform: uppercase;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 7px 17px;
        color: #ededef; }

.bmfooter {
  background-color: #494b5a;
  margin: 0;
  padding: 0; }
  .bmfooter li, .bmfooter a {
    color: #fff; }
  .bmfooter a {
    text-decoration: none; }
  .bmfooter .footer-social li {
    display: inline-block;
    margin-right: 5px; }
    .bmfooter .footer-social li a {
      color: #f99b53;
      font-size: 30px; }
  .bmfooter .footer-copy li a {
    color: #fff;
    font-size: 14px; }

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1920px) {
  .carousel-control.left {
    left: -4%;
    top: 40%;
    background: url("images/topSliderarr.png") 123px 0 no-repeat; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .top-header .top-tel {
    margin-left: 30px; }
  .choosevocation {
    width: 100%; }
  .choosevocation .form-group {
    margin-right: 4px; } }

@media only screen and (max-width: 1024px) {
  #topSlider {
    height: 470px; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") 87px 0 no-repeat !important; }
  #topSlider .full-screen {
    background-size: cover;
    -webkit-background-size: cover; }
  .choosevocation {
    margin: 50px auto; }
  #passport {
    bottom: -40px; }
  .proposeSlider .proposeSliderTabs .tabs {
    width: 60%; }
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item .descr-link a {
    padding: 3px 10px; }
  .sf-menu a {
    padding: .75em .8em !important; }
  .sf-arrows .sf-with-ul {
    padding-right: 2em !important; }
  .topmainslider {
    height: 75vh; }
  .subfooter .sub-form .form-sub input[type="text"] {
    width: 60%; }
  .subfooter .item-text {
    width: 81%; }
  .subfooter li a, .subfooter .items {
    font-size: 15px; }
  .ourTours .cat-container {
    grid-template-columns: repeat(3, 1fr); }
  .ourTours .cat-pict img {
    width: 100%;
    margin: 0 auto; }
  .ourTours .cat-pict:nth-child(1) {
    grid-column: 1/3 !important; }
  .ourTours .cat-pict:nth-child(10) {
    grid-column: 1/4 !important; }
  #cardTabs .tabs .tab {
    padding: 13px 18px !important; }
  #cardTabs .tab-item .info-items .item-info,
  #cardTabs .tab-item .info-items .info-name {
    font-size: 14px; }
  #cardTabs .tab-item .infoblock .priceblock {
    top: 101px; }
  #dopinfo .leftSide span.left-tab {
    font-size: 16px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #topSlider {
    overflow: hidden; }
    #topSlider .full-screen {
      background-size: cover !important;
      -webkit-background-size: cover !important; }
  .top-header .top-enter .top-searchIcon {
    width: 40%;
    margin-right: 10px; }
    .top-header .top-enter .top-searchIcon img {
      float: none;
      width: auto; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") 79px 0 no-repeat !important; }
  nav {
    background: none;
    float: left; }
  .seacrh {
    margin: 0 0 15px 0; }
  .sf-menu {
    display: none !important; }
  .choosevocation {
    margin: 0 auto; }
  .choosevocation .fist .form-group {
    width: 50%;
    margin: 0; }
  .choosevocation input[type="text"] {
    width: 95%; }
  .proposeSlider .proposeSliderTabs .tabs {
    width: 70%; }
  #passport {
    bottom: -90px; }
  aside .prod_slider #block_arrows .prev {
    top: -8%;
    right: 5%; }
  aside .prod_slider #block_arrows .next {
    bottom: 100%;
    right: 0; }
  .subfooter .fooClass {
    margin: 0 0 20px 0; }
    .subfooter .fooClass:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .subfooter .list-link {
    width: 100%; }
  #cardTabs .tabs .spantabs {
    width: 100%; }
  #cardTabs .tabs .tab {
    padding: 13px 9px !important; }
  #cardTabs .tab-item .infotur {
    float: none; }
    #cardTabs .tab-item .infotur img {
      margin: 0 auto;
      width: 100%; }
  #cardTabs .tab-item .infotur,
  #cardTabs .tab-item .infoblock {
    width: 100%; }
  #cardTabs .tab-item .infoblock .priceblock {
    top: 80px;
    left: 50px; }
  #dopinfo .leftSide {
    width: 35%; }
  #dopinfo .rightSide {
    width: 60%; }
  aside .prod_slider #slideimg .jc-items {
    width: 2000em;
    height: auto; }
    aside .prod_slider #slideimg .jc-items .cat-pict {
      float: left;
      margin-right: 15px; } }

@media only screen and (max-width: 768px) {
  .top-header {
    font-size: 22px; }
    .top-header .top-tel {
      margin-left: 30px; }
    .top-header .call-form {
      margin-top: 0; }
      .top-header .call-form img {
        width: 25px;
        height: 22px; }
      .top-header .call-form a {
        margin: 0 0 0 15px; }
    .top-header .top-logo {
      margin-bottom: 10px; }
  .choosevocation {
    display: none;
    position: fixed;
    top: 50%;
    left: 10%;
    z-index: 5;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8); }
    .choosevocation .form-group {
      width: 32%; }
  .carousel-control.left,
  .carousel-control.right {
    top: 55%; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") 35px 0 no-repeat !important; }
  .mainNews .mainNewsTabs .tab-item .item .short-text {
    font-size: 13px; }
  #cardTabs .tab-item .infoblock .priceblock {
    position: initial;
    width: 60%;
    margin: 10px auto; }
  #cardTabs .tabs .tab.active a,
  #cardTabs .tabs .tab:hover a {
    font-size: 12px; }
  .footer-social,
  .footer-copy {
    text-align: center; }
  #btn-connect {
    left: 80%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 667px) {
  .proposeSlider .proposeSliderTabs .tabs {
    width: 100%; }
  .descr-link a {
    float: none !important;
    margin: 3px auto !important;
    width: 50%; }
    .descr-link a a:last-child {
      float: none !important;
      margin: 0 !important;
      margin: 0 auto !important;
      width: 50%; }
  .ourTours .cat-container {
    grid-template-columns: repeat(2, 1fr); }
  .ourTours .cat-pict:nth-child(1) {
    grid-column: 1/3 !important; }
  .ourTours .cat-pict:nth-child(10) {
    grid-column: 1/3 !important; }
  #passport {
    bottom: -40px; }
  .choosevocation .fist .form-group {
    width: 100%; }
  .carousel-control.left,
  .carousel-control.right {
    top: 65%; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") -80% 0 no-repeat !important; }
  .mainNews .mainNewsTabs .tab-item .item .short-text a {
    top: 93%; }
  #cardTabs .tabs .tab {
    float: none;
    text-align: left; }
    #cardTabs .tabs .tab.active:after, #cardTabs .tabs .tab:hover:after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-left: 10px solid #fa7b0a !important;
      left: 0;
      margin-left: -8px;
      top: 35%;
      width: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item p {
    padding: 23px 0 20px 15px; }
  .mainNews .mainNewsTabs .tab-item .item .short-text {
    width: 80%; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") -50% 0 no-repeat !important; }
  #dopinfo .leftSide,
  #dopinfo .rightSide {
    width: 100%;
    float: none; }
  #dopinfo .leftSide span.left-tab.active {
    border-left: none;
    border-bottom: 2px solid #fa7b0a; }
  #dopinfo .rightSide .right-item {
    padding: 10px 0; }
  .subfooter .sub-form {
    width: 90%;
    margin: 40px auto; } }

@media only screen and (max-width: 480px) {
  #topSlider {
    height: 500px; }
  .ourTours .cat-container {
    grid-template-columns: repeat(2, 1fr); }
  .ourTours .cat-pict img {
    width: 100%;
    height: auto; }
  .ourTours .cat-pict:nth-child(1) {
    grid-column: 1/3 !important; }
  .ourTours .cat-pict:nth-child(10) {
    grid-column: 1/3; }
  .mainNews .mainNewsTabs .tabs {
    width: 100%; }
  .testimonials .testimonials-block .item img {
    width: 100%;
    float: none; }
  .testimonials .testimonials-block .item h3 {
    margin-top: 0; }
  .testimonials .testimonials-block .item p {
    margin: 20px 0; }
  .choosevocation {
    width: 65%; }
    .choosevocation .form-group {
      float: none;
      width: 100%; }
      .choosevocation .form-group label {
        padding: 5px 20px 0 0; }
  #passport {
    bottom: -2%; }
  .carousel-control.left,
  .carousel-control.right {
    top: 60%; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") -4% 0 no-repeat !important;
    left: 2%; }
  .carousel-control.right {
    right: 2%; }
  .mainNews .mainNewsTabs .tab-item .item .short-text {
    width: 70%; }
  .mainNews .mainNewsTabs .tab-item .item .short-text a {
    top: 91%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 380px) {
  .top-header {
    font-size: 18px; }
    .top-header .top-tel {
      margin-left: 20px; }
  .proposeSlider .proposeSliderTabs .owl-nav div {
    top: 25% !important; }
  .proposeSlider .proposeSliderTabs .tab_item .item .decr-item p {
    padding: 15px 0 8px 15px; }
  #cardTabs .tab-item .info-items .info-name, #cardTabs .tab-item .info-items .item-info {
    display: initial; }
  #cardTabs .tab-item .info-items {
    padding: 10px 0; }
  .ourTours .cat-container {
    grid-template-columns: repeat(1, 1fr); }
  .ourTours .cat-pict img {
    width: 100%;
    height: auto; }
  .carousel-control {
    width: 18% !important; }
  .carousel-control.left {
    background: url("images/topSliderarr.png") -1% 0 no-repeat !important; }
  .ourTours .cat-pict:nth-child(1) {
    grid-column: 1/1 !important; }
  .ourTours .cat-pict:nth-child(10) {
    grid-column: 1/1 !important; } }

@media only screen and (max-width: 320px) {
  .carousel-control {
    width: 21% !important; }
    .carousel-control .carousel-control.left {
      background: url("images/topSliderarr.png") 0 0 no-repeat !important; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/*# sourceMappingURL=style.css.map */
